# Git
.git
.gitignore

# IDE
.idea
.vscode

# Docker
docker
Dockerfile
.dockerignore
docker-compose*.yml

# Config
config.yaml
server/.env
*.env

# Build artifacts
shabe

# Other
README.md
LICENSE
*.md
tmp_docker/
